{% extends 'base.html' %}
{% block title %}Записи сообщества {{ group }}
{% endblock %}
{% block header %}
<h1> Записи сообщества {{ group.title }} </h1> {% endblock %}
{% block content %}
{% for post in page_obj %}
<article>
    <ul>
        <li>
            Автор: {{ post.author.first_name }} {{ post.author.last_name }}
        </li>
        <li>
            Дата публикации: {{ post.pub_date|date }}
        </li>
    </ul>
    <p>
        {{ post.text|linebreaks }}
    </p>
</article>
{% if not forloop.last %}
  <hr>
{% endif %}
{% endfor %}

{% include 'posts/includes/paginator.html' %}
{% endblock %}
